<!DOCTYPE html>
<html>
<head>
	<title>Artist Show Page</title>
</head>
<body>
	<h1>Artist Show Page</h1>
	Name: <%=artist.name%><br>
	Song: <%=artist.goodSong%><br>
	<img src="<%=artist.img%>"><br>
	<a href="/artists">Index</a>

</body>
</html>